@font-face {
    font-family: "coolvetica";
    src: url("/fonts/coolvetica/coolvetica rg.ttf");
}

@font-face {
    font-family: "gravity";
    src: url("/fonts/gravity/Gravity-Regular.otf");
}
.fas{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
    margin: 0;
    font-family: Helvetica, Arial;
    background-color:  #fff;
}



/* Sur toutes les pages */

.menu_principal{
    font-family: 'coolvetica';
    background-color: #475069;
    list-style-type: none;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    font-size: 25px;
}

.menu_principal a{
    text-decoration: none;
    color: white;
}


.logo{
    background-image: url('../img/logo2.png');
    width: 8vw;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 3vw;
    top: 1vh;
}
/* Pop up connexion / deconnexion */
.modal{
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 222;
}
.logout{
    background-image: url("../img/logout.svg");
    width: 2.5vw;
    height: 2.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3vw;
    cursor: pointer;
}

.myaccount {
    background-image: url('../img/myaccount.svg');
    width: 2.5vw;
    height: 2.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3vw;

}

.icons {
    display:flex;
}

#login{
    background-image: url('../img/login.png');
    position: absolute;
    right: 2vw;
    top: 2vh;
    width: 5vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}



/* Page accueil */
.ensemble_musics{
    font-family: "gravity";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

.titre_musique{
    text-align: center;
    font-family: "coolvetica";
    font-size: 1.2em;
    color: #393539;
    margin-bottom: 0.8vh;
    margin-top: 0.4vh;
}

.titre_section{
    font-family: "coolvetica";
    color: #393539;
    font-weight: normal;
    font-size:3em;
    width: 60vw;
    margin:auto;
    margin-top: 5vh;
    padding-bottom: 1vh;
}

.soulignement{
    width: 65vw;
    height: 1vh;
    background: linear-gradient(to right, #8e9fbb, #c3cee1);
    margin: auto;
}

.style_musique{
    margin-bottom: 0;
    font-family: "gravity";
}

.psn_upload{
    margin-top: 0;
    font-family: "gravity";
}

.style_musique, .psn_upload{
    text-align: center;
    color: #475069;
}

.psn_upload a{
    text-decoration: none;
    color: #393539;
}

.psn_upload a:hover{
    color: #ebf0f7;
}

.like {
    background-image: url('../img/like.svg');
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.banniere_accueil{
    background-image: url("/img/banniere_accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nouvelle_chanson{
    text-decoration: none;
    color: white;
    background-color: #475069;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 1.8em;
}

.banniere_ou{
    position: absolute;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

.formulaire_recherche{
    width: 120%;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    font-size: 1.5em;
}

.listePlaylists{
    display: none;
    background-color: #c3cee1;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: absolute;
    right: -5.2em;
    top: 42%;
    border: 0.1em solid #8E9FBB;
    border-radius: 0.2em;
    z-index: 50;
}

.ensemble_listPlaylist{
    position: relative;
    width: 10%;
}

.listePlaylists a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid #8E9FBB;
    width: 100%;
}

.affichPlaylists{
    background-image: url('/img/music_ajouter.png');
    background-color: transparent;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    width: 140%;
    height: 2.6vh;
    cursor: pointer;
}

.music{
    margin-bottom: 2vh;
}

.music-hover{
    position: absolute;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    top: 0.1px;
    right: 0.1px;
    left:0;
    bottom: 0.1px;
    transition: opacity 0ms ease-in-out;
    overflow:hidden;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.music-hover .contenu-hover{
    left: 0;
    position: absolute;
    overflow: hidden;
    transform: translateY(-50%);
    transition: top 600ms ease-in-out;
}

.img_music{
    position: relative;
    text-align: center;
}

.img_music:hover .music-hover{
    opacity: 0.95;
}

.img_music:hover .contenu-hover{
    top: 50%;
}

.contenu-hover{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenu-hover p{
    color: white;
}

.img_hover_music{
    width: 120%;
}

.lienmusic{
    width: 20%;
}

.img_hover_lien{
    width: 100%;
}

.égaliseur .rectDebutCache{
    visibility: hidden;
}

svg{
    width: 40%;
}

/* Animation svg*/
.firstVague{
    visibility: hidden;
}

.secondVague{
    visibility: hidden;
}

/* Page search */
.resultat_search{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.resultat_psn{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unepersonne_search{
    display: flex;
    flex-direction: column;
}

.resultat_psn div{
    margin-left: auto;
    margin-right: auto;
}

.name_search{
    text-decoration: none;
    color: #475069;
    font-weight: bold;
}

.name_search:hover{
    color: #ebf0f7;
}

.resultat_chansons{
    margin-top: 50px;
}

.resultat_search h3{
    text-align: center;
}

.unepersonne_search{
    display: flex;
}


/* Page utilisateur */
.utilisateur {
    display:flex;
}

.page_user {
    display:flex;
    width: 100%;
}

.infos_user{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
    width: 20vw;
}

.suivre {
    background: #475069;
    font-family: "coolvetica";
    font-size: 1.1em;
    color: white;
    border-radius: 1vh;
    text-align: center;
    font-weight: normal;
    width: 10vw;
    padding: 0.2em 0;
    border:none;
    outline:none;
    margin-bottom: 4.5vh;
    text-decoration: none;
}

.pseudo {
    color: #393539;
    font-family: "coolvetica";
    font-size: 2em;
    font-weight: normal;
}

.playlists{
    width: 80vw;
    background: #c3cee1;
    display: block;
}

.chansons_uploadees {
    display: none;
}

.is-visible {
    display: block;
}

.is-invisible {
    display:none;
}
.playlists h2{
    text-align: center;
}

.titre_section_playlist{
    display: flex;
    height: 10vh;
    background: #8e9fbb;
    font-family: "coolvetica";
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.titre_section_playlist div {
    width: 50%;
    text-align: center;

}

.titre_section_playlist div:hover {
    cursor:pointer;
}
.title1 {
    background: #475069;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title2 {
    color: #393539;
}

.bouton_nouvelle_playlist{
    background: #475069;
    font-family: "coolvetica";
    font-size: 1.2em;
    color: white;
    border-radius: 1.5vh;
    text-align: center;
    font-weight: normal;
    width: 10.5vw;
    height: 2rem;
    border:none;
    padding-top: 0.2em;
    text-transform: lowercase;
        margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.titre_section_playlist p:hover {
    cursor:pointer;
}
.musics_playlist{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nouvelle_playlist{
    display: none;
        margin-top: 0.5rem;
    margin-left: 0.5rem;


}

.nouvelle_playlist form{
    display: flex;
}

.nouvelle_playlist input[type="text"]{
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    height: 2rem;
    padding-left: 1vw;
}

.nouvelle_playlist input[type="submit"]{
   background: #475069;
    height: 2rem;
    border-radius: 0.5em;
    color: white;
    font-family: "gravity";
    border:none;
    margin-left: 0.5rem;

}
















































































































































































































































/* Louise */
.like_hover {
    background-image: url('../img/like_hover.svg');
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

/* popup */

#popup{
}

html, body, * {
    box-sizing: border-box;
  }

  nav {
    height: 60px;
  }

  nav h1 {
    float: left;
    margin: 10px 0 0 30px;
    font-size: 2em;
  }

  nav ul {
    float: right;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 3px 0;
    padding-right: 10px;
    cursor: pointer;
    color: #ccc;
    transition: all 0.5s ease;
  }

  nav ul li:hover {
    color: #000;
  }

  nav ul li:last-child {
    margin-right: 20px;
  }

  nav ul li.active {
    color: #000;
  }

  .underline {
    position: absolute;
    height: 4px;
    background-color: #ceaee8;
    transition: all 0.5s ease;
  }

  .container {
  }

  button {
    position: relative;
    left: 45%;
    top: 3vh;
    width: 20vw;
    margin: -35px 0 0 -130px;
    padding: 15px 30px;
    border-radius: 2vh;
    background-color: #475069;
    color: #fff;
    font-family: "coolvetica";
    text-transform: lowercase;
    font-weight:normal;
    border:none;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    outline: none;
  }

  button:hover {
    opacity 0.8;
    box-shadow: 0 2px 5px #9a9a9a;
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
  }

  .overlay.visible {
    opacity: 1;
    visibility: visible;
  }

  .main-popup {
    position: fixed;
    left: 0;
    top: 20vh;
    margin: 0;
    width: 100%;
    height: 500px;
    background-color: #ebf0f7;
    border-radius: 5px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    overflow:hidden;
    transform: translateY(-20px);
    transition: all .5s ease;
    /*overflow: hidden;*/
  }

  .main-popup.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: all .5s ease;
  }

  @media (min-width: 500px) {
    .main-popup {
      width: 500px;
      left: 50%;
      margin: 0 0 0 -250px;
    }
  }

  .popup-header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 62px;
    width: 100%;
  }

  #popup-close-button a {
    position: absolute;
    bottom:2vh;
    left: 1vw;


    width: 22px;
    height: 22px;
    z-index:16;
  }

  #popup-close-button a::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #475069;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #popup-close-button a::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #475069;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .popup-header ul {
    margin: 0;
    padding: 0;
  }

  .popup-header ul li {
    text-align: center;
    list-style: none;
    width: 50%;
    float: left;
  }

  .popup-header ul li a {
    display: block;
    padding: 20px 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.2em;
  }

  #sign-in {
    background-color: #475069;
    color: #ebf0f7;
    border-radius: 5px 0 0 0;
    font-family: "coolvetica";
    text-transform: lowercase;
  }

  #sign-in.active {
    color: #393539;
    background-color: #ebf0f7;
  }

  #register {
    background-color: #475069;
    color: #ebf0f7;
    border-radius: 0 5px 0 0;
    font-family: "coolvetica";
    text-transform: lowercase;
  }

  #register.active {
    color: #393539;
    background-color: #ebf0f7;
  }

  .popup-content {
    height: 400px;
    background: #ebf0f7;

  }

  form.sign-in {
    position: relative;
    top: 40px;
    left: 0;
    font-size: 1em;
    opacity: 1;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  .oubliepassword{
      margin-left: 2em;
      text-decoration: none;
      color: black;
  }

.oubliepassword:hover{
    color: #8E9FBB;
}

  form.sign-in.move-left {
    opacity: 0;
    transform: translateX(-450px);
  }

  form label {
    font-size: 1.1em;
    color: #393539;
    margin-left: 23px;
  }

  form.sign-in input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 5px 5% 30px 5%;
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: none;
  }

  form.sign-in input[type="password"]{
      margin-bottom: 0.6em;
  }

  form.sign-in input[type="checkbox"]{
      width: 10%;
      height: 20px;
      margin: 0;
  }

  .rememberme label{
      margin-left: 0;
  }

  input#submit {
    background-color: #ceaee8;
    color: #fff;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    border: none;
  }

  form.register {
    position: relative;
    top: -230px;
    left: 0;
    font-size: 1em;
    opacity: 0;
    transform: translateX(450px);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  form.register.move-left {
    opacity: 1;
    transform: translateX(0);
  }

  form.register input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 5px 5% 15px 5%;
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: none;
  }

  p.check-mark {
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0 0 0 -100px;
    padding: 0;
    text-align: center;
    color: #ceaee8;
    font-size: .8em;
  }

  p.check-mark a {
    color: #a48bb9;
  }

  p.check-mark input {
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #ceaee8;
    outline: none;
    border: none;
  }

  p.check-mark label {
    margin-left: 5px;
  }

  .uneinfo {
    font-size: 0.8em;
    font-family: "gravity";
  }

  .rememberme {
      display:flex;
      justify-content: center;
      margin-top: 3em;
      margin-bottom: 1em;
  }

 input [type='checkbox'] {
    width: 5vw;
    outline:none;
    border-radius: 1vh;
  }

  /* lecteur musique */
  *:focus
{
    outline: none;
}

#all{
    position: fixed;
    bottom: 0;
    left: 50%;
}
#app-cover
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
}


.fas{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#player
{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    transform: translateY(-90%);
}


#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #475069;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
    width:50vw;
    transform: translateX(-25vw);
}

#player-track.active
{
    top: -92px;
}

#album-name
{
    color: #ebf0f7;
    font-size: 17px;
    font-family: "gravity";
}

#track-name
{
    color: #ebf0f7;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #ebf0f7;
    background-color: transparent;
    font-family: "gravity";
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#EBF0F7;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #8E9FBB;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #475069;
    box-shadow: 0 30px 80px #656565;
    /* border-radius: 15px; */
    z-index: 2;
    width: 100vw;
    transform: translateX(-50%);
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}



.button:hover i
{
    color: #fff;
}

html.remodal-is-locked {
    overflow: hidden;

    touch-action: none;
  }

  /* Anti FOUC */

  .remodal,
  [data-remodal-id] {
    display: none;
  }

  /* Necessary styles of the overlay */

  .remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;

    display: none;
  }

  /* Necessary styles of the wrapper */

  .remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
  }

  .remodal-wrapper:after {
    display: inline-block;

    height: 100%;
    margin-left: -0.05em;

    content: "";
  }

  /* Fix iPad, iPhone glitches */

  .remodal-overlay,
  .remodal-wrapper {
    backface-visibility: hidden;
  }

  /* Necessary styles of the modal dialog */

  .remodal {
    position: relative;

    outline: none;

    text-size-adjust: 100%;
  }

  .remodal-is-initialized {
    /* Disable Anti-FOUC */
    display: inline-block;
  }




  .titre_section_playlist h2 {
    font-family: "coolvetica";
    font-weight: normal;
    font-size: 2rem;
    color: #393539;
    text-transform: lowercase;
      width: 20%;
  }

  .titre-playlist {
    font-family: "gravity";
    font-size: 1.5rem;
    color: #393539;
    display:flex;
      padding: 1rem;
  }

  .croix {
    background-image: url('../img/croix.svg');
    width: 1.5vw;
    height: 1.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2vw;
  }

.img-music-playlist {
    margin:auto;
}

.flex {
    display:flex;
}
























































































































































































/* UPLOAD D'UNE CHANSON */
.new_chanson {
    width: 80vw;
    margin:auto;
    text-align: center;
}
.new_chanson_text {
    width: 20vw;
    border: none;
    border-radius: 1rem;
    border: 1px solid #ebf0f7;
    padding: 0.5rem;
    margin-top: 10vh;
    font-family: "gravity";
    outline: none;
}

.new_chanson_upload {
    width: 20vw;
    border: none;
    border-radius: 1rem;
    border: 1px solid #ebf0f7;
    padding: 0.5rem;
    margin-top: 2vh;
    font-family: "gravity";
    outline: none;
}

.new_chanson_style {
    width: 20vw;
    border: none;
    border-radius: 1rem;
    border: 1px solid #ebf0f7;
    padding: 0.5rem;
    margin-top: 2vh;
    font-family: "gravity";
    outline: none;
}

.new_chanson_submit {
    width: 10vw;
    border: none;
    border-radius: 1rem;
    background: #c3cee1;
    padding: 0.5rem;
    margin-top: 2vh;
    font-family: "gravity";
    outline: none;
}

