@font-face {
    font-family: "coolvetica";
    src: url("/fonts/coolvetica/coolvetica rg.ttf");
}

@font-face {
    font-family: "gravity";
    src: url("/fonts/gravity/Gravity-Regular.otf");
}

body{
    margin: 0;
    font-family: gravity;
    overflow-x: hidden;
}



/* Sur toutes les pages */

.menu_principal{
    font-family: 'coolvetica';
    background-color: #475069;
    list-style-type: none;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    font-size: 25px;
}

.icons {
    display:flex;
    margin-right: 3vw;
}
.logo {
    background-image: url('../img/logo2.png');
    width:8vw;
    height:8vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    position:absolute;
    left:3vw;
    top:1vh;
}

.login {
    background-image: url('../img/login.png');
    position:absolute;
    right:2vw;
    top:2vh;
    width:5vw;
    height:5vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu_principal a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #EBF0F7;
}

/* Pop up connexion / deconnexion */
.modal{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 222;
}


/* Page accueil */
.background-img {
    background-image: url("../img/banniere_accueil.jpg");
    width:100vw;
    height:100vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ensemble_musics{
    font-family: "gravity";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.music{
    margin: 20px;
}

.titre_musique{
    text-align: center;
    font-family: "coolvetica";
    font-size: 1.2em;
    color: #393539;
}

.titre_section{
    font-family: "coolvetica";
    color: #393539;
    font-weight: normal;
    font-size:3em;
    width: 60vw;
    margin:auto;
    margin-top: 5vh;
    padding-bottom: 1vh;

}

.soulignement {
    width: 65vw;
    height: 1vh;
    background:linear-gradient(to right, #8E9FBB, #C3CEE1);
    margin:auto;
}

.style_musique{
    margin-bottom: 0;
    font-family: "gravity";
}

.psn_upload{
    margin-top: 0;
    font-family: "gravity";
}

.style_musique, .psn_upload{
    text-align: center;
    color: #475069;
}

.psn_upload a{
    text-decoration: none;
    color: #393539;
}

.psn_upload a:hover{
    color: #ebf0f7;
}

.banniere_accueil{
    background-image: url("/img/banniere_accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    height: 100vh;
    position: relative;
}

.nouvelle_chanson{
    text-decoration: none;
    color: white;
    background-color: #475069;
    padding: 10px 50px;
    border-radius: 20px;
    position: absolute;
    font-size: 30px;
    margin-top: 500px;
    margin-left: 1000px;
}

.banniere_ou{
    position: absolute;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin-top: 400px;
    margin-left: 900px;
}

.like {
    background-image: url('../img/like.svg');
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

#searchform{
    position: absolute;
    margin-top: 200px;
}

.formulaire_recherche{
    width: 60%;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    margin-left: 750px;
    margin-top: 90px;
    font-size: 30px;
    outline: none;
}

.logout {
    background-image: url('../img/logout.svg');
    width: 2.5vw;
    height: 2.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.myaccount {
    background-image: url('../img/myaccount.svg');
    width: 2.5vw;
    height: 2.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3vw;
}
/* Page search */
.resultat_search{
    margin-top: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.resultat_psn{
    text-align: center;
}

.resultat_psn div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.name_search{
    text-decoration: none;
    color: #475069;
    font-weight: bold;
}

.name_search:hover{
    color: #ebf0f7;
}

.infos_psn_search{
    display: flex;
    justify-content: space-around;
}

.resultat_chansons{
    margin-top: 50px;
}

.resultat_chansons h3{
    text-align: center;
}

/* La page utilisateur */
.utilisateur {
    display:flex;
}
.page_user {
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "gravity";
    color: #475069;
    font-size: 1.5em;
}

.suivre {
    background: #475069;
    font-family: "coolvetica";
    font-size: 1.2em;
    color: white;
    border-radius: 1vh;
    text-align: center;
    font-weight: normal;
    width: 10vw;
    text-transform: lowercase;
    border:none;
    outline:none;
    margin-bottom: 5vh;
}

.user_music_playlist {
    width: 70vw;
    height: 100vh;
}
.pseudo {
    color: #393539;
    font-family: "coolvetica";
    font-size: 2em;
    font-weight: normal;
}
